body {
    display: grid;
    grid-template-columns: 1fr 300px 60px 300px 1fr;
    grid-template-areas: 
        ". paveiksliukas . tekstas .";
    background-color: #ebecee;
}
    img {
        grid-area: paveiksliukas;
        display: inline-block;
        width: 100%;
        margin: 10px;
    }
    div {
        grid-area: tekstas;
        display: inline-block;
        width: 100%;
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
        h1 {
            display: inline-block;
            width: 100%;
            font-size: 120px;
            margin: 10px;
            color: #7f828f;
        }
        p {
            display: inline-block;
            width: 100%;
            font-size: 30px;
            color: #7f828f;
        }
        a {
            display: inline-block;
            color: #fff;
            background-color: #7f828f;
            padding: 20px;
            text-transform: uppercase;
            text-decoration: none;
        }
@media (max-width: 900px) {
    body {
        grid-template-columns: 50px 1fr 50px;
        grid-template-areas: 
            ". tekstas ."
            ". paveiksliukas .";
    }
}
